[package]
name = "mandelbrot"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
coolor = "0.5.1"
palette = "0.6.1"
sdl2 = "0.35.2"
